h1 {
  text-align: center;
}
.box {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  text-align: left;
}
.block1 {
  background-color: rgb(255, 250, 244);
  padding: 40px;
  flex: 1;
  box-shadow: 0 10px 10px;
  border-radius: 4px;
}
.block2 {
  background-color: rgb(228, 233, 231);
  flex: 1.5;
}
